apiVersion: v1
kind: Service
metadata:
  name: {{ vm_name }}-service
spec:
  type: ClusterIP
  selector:
    kubevirt.io/domain: {{ vm_name }}
  ports:
      # By default and for convenience, the `targetPort` is set to the same value as the `port` field.
    - port: 22
      targetPort: 22
